* {
    margin: auto;
    
}
body {
    background-color: #daf0ff;
    
}
header {
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
text-align: center;
padding-top: 1%;
padding-bottom: 0.5%;
font-family: 'Urbanist', sans-serif;


}
.search-bar {
    display: flex;
    flex-direction: column;
}
.btn {
    margin-top: 3%;
}
.d-grid {
    opacity: 0.7;
}
main {
    font-family: 'Urbanist', sans-serif;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.75%;
    
}
input:hover {
    background-color: rgb(235, 230, 230);
}
.city-overview {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
}
.forecast {
    padding-top: 1%;
}
.col {
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    color: white;
    font-size:20px;
    padding: 10px;

    
}
footer {
    background-color: darkblue;
    color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 4px solid black;
    
}
